{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'reservatie_open_cv/css/materialize.min.css' %}"
          media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
        p {
            font-size: 1.2em;
        }
    </style>
</head>

<body class="amber">
<main class="container valign-wrapper" style="height: 100vh;">
    <div class="row">
        <div class="col s12 m6" style="margin: 0 auto; float: none; position: relative;
    top: 13px;">
            <div class="card">
                <div class="card-image"><img id= "personImg" src="https://www.equifax.com.au/sites/default/files/styles/image_1119x999/public/field/image/identity-watch-identity-theft_0.jpg?itok=TKmb0wNq"> <span class="card-title">Bevestig uw identiteit.</span> <a
                        href="{% url 'main:accept' %}" class="btn-floating btn-large halfway-fab waves-effect waves-light green"><i
                        class="material-icons">check</i></a></div>
                <div class="card-content">
                    <p class="left-align" style="font-size: 1.5em;">Naam: {{ name }}
                    </p>
                    <p class="left-align" style="font-size: 1em;">Datum: {{ date }}
                    </p>
                    <p class="left-align" style="font-size: 1em;">Zaal: {{ room }}
                    </p>
                    <a class="waves-effect waves-teal" href="{% url 'main:data' %}">Dit klopt niet, probeer opnieuw.</a>
                </div>
            </div>
        </div>
    </div>
</main>
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script type="text/javascript" src="{% static 'reservatie_open_cv/js/materialize.min.js' %}"></script>
</body>

</html>